@media (min-width: 1200px) {
    /* index columns */
    .welcome-page .homepage-products .row .col-one {
        width: 249px;
    }
    .welcome-page .homepage-products .row .col-two {
        width: 280px;
    }
    .welcome-page .homepage-products .row .col-three {
        width: 291px;
    }
    .welcome-page .homepage-products .row .col-four {
        width: 296px;
    }
}

@media (max-width: 1199px) {

    /* horizontal menu invisible */
    .nav-menu ul {
        display: block;
        visibility: hidden;
        opacity: 0;
    }
    .nav-menu label {
        margin-top: 7px;
    }

    .nav-menu {
        position: relative;
    }

    /* display bars button */
    .header .nav-menu .toggleMenu {
        display: inline-block;
        cursor: pointer;
    }

    /* remove label checkbock */
    .header .nav-menu [type="checkbox"] {
        display: none;
    }

    /* place bars button to the right side */
    .header .col.ms-auto {
        min-width: 60px;
        text-align: right;
        margin-top: auto;
        margin-bottom: auto;
    }

    /* display menu list on click in 0.7 second */
    input.toggleMenu:checked ~ ul {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: opacity .7s;
    }

    /* place drop-down menu */
    ul.horizontal-menu {
        position: absolute;
        height: auto;
        right: 0;
        top: 64px;
    }

    .header .nav-menu ul {
        width: 30%;
        min-width: 200px;
        margin-top: 3px;
        box-shadow: 5px 5px 10px -5px gray,
        -5px 5px 10px -5px gray;
    }

    .header .nav-menu ul li {
        display: block;
        background-color: white;
    }

    /* fill color on hover */
    .header .nav-menu ul li:hover {
        background: #f3f3f3;
    }

    .header ul.horizontal-menu {
        line-height: 50px;
    }

    /* "a" tag is filling all place */
    .header ul.horizontal-menu a {
        display: block;
        margin-right: 1rem;
    }

    .header ul.horizontal-menu hr {
        margin: 0;
        opacity: 1;
        background-color:rgb(194, 192, 192);
    }

    /* index columns */
    .welcome-page .homepage-products .row .col-one {
        flex: 0 0 auto;
        width: 224px;
    }
    .welcome-page .homepage-products .row .col-three {
        flex: 0 0 auto;
        width: 244px;
    }
    .welcome-page .homepage-products .row .card-title {
        height: 97px;
    }
    .welcome-page .homepage-products .row .col-one img {
        padding: 10px 6px;
    }

}

@media (max-width: 992px) {
    /* index columns */
    .welcome-page .homepage-products .row .col {
        width: 25%;
    }
    .welcome-page .homepage-products .row .card-title {
        height: 108px;
    }
    .welcome-page .homepage-products .row .col-one img {
        padding: 10px;
    }
    .welcome-page .homepage-products .row .col.col-four .card-body {
        padding: 10px 0px;
    }
    .welcome-page .homepage-products .row .col .card-title a {
        font-size: 18px;
    }

    .projects > .introduction > .row > .col-8 {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .projects > .introduction > .row > .col-4 {
        min-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {

    .welcome-page .homepage-products .row .card-title {
        height: auto;
    }

    .welcome-page .homepage-products .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .welcome-page .homepage-products .row .col {
        flex: auto;
        padding: 0px 6px;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .welcome-page .homepage-products .row .col .card {
        margin-bottom: 10px;
    }


    .btn-slider {
        right: calc(25px - 50%);
    }

    /* Projects */

    .projects .row .col-8 {
        padding: 0 12px;
    }

    .projects .row .col-8,
    .projects .row .col-4 {
        width: 100%;
        justify-content: center;
    }

    .projects .row .col-4 .projects-list-btn {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .projects .content .row > .col-4.filter {
        order: -1;
        margin-bottom: 30px;
    }

    .projects .accordion .accordion-instries {
        overflow-y: scroll;
        height: 300px;
    }

    .project-detail .project-detail-content .txt-btn a.btn {
        display: none;
    }

    .project-detail .project-detail-content a.btn.after {
        display: block;
    }

    
    .project-detail .project-detail-content .row .col1 {
        width: 100%;
    }

    .project-detail .project-detail-content .row .col2 {
        text-align: center;
        width: 100%;
    }

    .project-detail .project-detail-content .row .col2 a {
        margin: 0px;
    }

}

@media (max-width: 575px) {

    /* Vacancies */

    .vacancies .vacancy .vacancy-description a {
        margin-right: 5%;
        font-size: 16px;
    }

}

@media (max-width: 450px) {

    .header .nav-menu ul {
        width: 100vw;
        right: -12px;
        text-align: center;
    }

    ul.horizontal-menu {
        position: absolute;
        height: 0px;
        right: 0;
        top: 50px;
        width: 100%;
    }

    .header ul.horizontal-menu a {
        display: block;
        margin-right: 0;
    }

}


@media (min-width: 1200px) {
    .header .container,
    .site-content .container {
        max-width: 1140px;
    }
}
