{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">Главная</a>
             >> 
            <a href="{% url 'services_url' %}">Услуги</a>
             >> 
            Бизнес-планы
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <div class="bp_service">
        <h2>
            Разработка бизнес-плана и финансовой модели инвестиционного проекта
        </h2>
        <p>
            Маркетинговое агентство SDA оказывает услуги по разработке 
            бизнес-планов и финансовых моделей для привлечения инвестиций 
            со стороны банков, частных инвесторов и государственных 
            организаций. <br>

            Компания имеет опыт выполнения проектов для получения кредитов в 
            банка ПСБ, МСП, Сбер, ВТБ, Россельхозбанк и др. При привлечении 
            инвестиций в банках, бизнес-план и финансовая модель составляются 
            по требованиям кредитора. <br>

            В основе нашей работы лежит подробный маркетинговый анализ, который 
            позволяет проверить гипотезы Заказчика, сформировать обоснованную 
            рынком доходную и расходную часть финансовой модели. <br>
        </p>
        <p>
            <strong>Типовая структура бизнес-плана:</strong> <br>
            Титульный лист бизнес-плана проекта
            <ol>
                <li>
                    Краткий обзор (резюме) проекта
                </li>
                <li>
                    Инициатор проекта
                    <ol>
                        <li>Общие данные</li>
                        <li>Учредители (акционеры)</li>
                        <li>Виды и объемы деятельности</li>
                        <li>Финансовое состояние</li>
                        <li>Информация о руководителях</li>
                    </ol>
                </li>
            
                <li>
                    Существо предлагаемого проекта
                    <ol>
                        <li>Местонахождение объекта</li>
                        <li>Описание продукта (услуги)</li>
                        <li>Технология производства продукта (оказания услуги)</li>
                        <li>Характеристики закупаемого оборудования (техники)</li>
                    </ol>
                </li>
                
                <li>
                    Анализ рынков сбыта продукции и закупок сырья
                    <ol>
                        <li>Рынок сырья, материалов и комплектующих</li>
                        <li>Конкуренция на рынке сбыта</li>
                        <li>Потенциальная емкость рынка сбыта</li>
                    </ol>
                </li>
                <li>
                    План продаж и стратегия маркетинга
                </li>
                <li>
                    Анализ доступности ресурсов
                </li>
                <li>
                    Воздействие на окружающую среду и устойчивое развитие
                </li>
                <li>
                    Организационный план
                    <ol>
                        <li>Организационно-правовая форма реализации проекта</li>
                        <li>Основные партнеры</li>
                        <li>График реализации проекта</li>
                        <li>Правовые вопросы осуществления проекта</li>
                    </ol>
                </li>
                <li>
                    План производства
                </li>
                <li>
                    Финансовый план
                    <ol>
                        <li>Условия и допущения, принятые для расчета</li>
                        <li>
                            Исходные данные
                            <ol>
                                <li>Налоговое окружение</li>
                                <li>Номенклатура и цены продукции (услуг)</li>
                                <li>План производства</li>
                                <li>Номенклатура и цены сырья, материалов и пр.</li>
                                <li>Калькуляция прямых материальных затрат</li>
                                <li>Численность персонала и заработная плата</li>
                                <li>Накладные расходы</li>
                                <li>Капитальные затраты и амортизация</li>
                                <li>Обоснование потребности в оборотном капитале</li>
                            </ol>
                        </li>
                        <li>Расчет прибыли, убытков и денежных потоков</li>
                        <li>Оценка экономической эффективности проекта</li>
                    </ol>
                </li>
                <li>
                    План финансирования
                </li>
                <li>
                    Оценка и анализ проектных рисков
                    <ol>
                        <li>Анализ чувствительности</li>
                        <li>Оценка проектных рисков</li>
                    </ol>
                </li>
                <li>Обеспечение</li>
            </ol>
        </p>
    </div>
</div>

{% endblock content %}