{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">{{ content.path_main.value }}</a>
             >> 
            <a href="{% url 'services_url' %}">{{ content.header_services.value|lower|capfirst }}</a>
             >> 
            {{ content.services_link6.value }}
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <div class="bp_service">
        {{ content.services_6.content|safe }}
    </div>
</div>

{% endblock content %}