{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">Главная</a>
             >> 
            <a href="{% url 'services_url' %}">Услуги</a>
             >> 
            Классические маркетинговые исследования
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <div class="cmr_service">
        <h2>
            Классические маркетинговые исследования
        </h2>
        <h4>
            Количественные исследования
        </h4>
        <p>
            Количественные методы получения информация пользуются наибольшей 
            популярностью при проведении маркетинговых исследований. 
            Отличительной особенностью методов является строго обозначенная 
            форма сбора данных.  На этапе подготовки исследования маркетологи 
            разрабатывают анкету, где четко обозначается план ведения опроса. 
            Вопросы  могут носить как открытый характер (опрашиваемый 
            самостоятельно формулирует ответ, который записывает опрашивающий), 
            так и закрытый характер (опрашиваему предлагается выбрать из 
            нескольких вариантов ответов). Анкета составляется в соответсвии с 
            задачами исследования. Правильно собранные и обработанные 
            количественные данные представляют надежную статистическую 
            информацию. Полученные выводы качественно проведеннного 
            количественного исследования можно распространять на генеральную 
            совокупность.
        </p>
        <p>
            Количественные методы целессобразно использовать для оценки уровня 
            известности бренда, при определении доли рынка, выявлении 
            предпочтений потребителей и др.
        </p>
        <p>
            <strong>Методы количественных исследований:</strong>
        </p>
        <ul>
            <li class="cmr_service_method">
                <p>
                    <strong>Личный опрос (уличный опрос, квартирный опрос) </strong>
                </p>
                <p>
                    Метод  опроса очень популярен при проведении количественных 
                    исследований. Не стоит путать анкетирование и опрос. 
                    Анкетирование предполагает личное заполнение респондентом 
                    (опрашиваеммым) анкеты. При опросе  вопросы анкеты 
                    респонденту задает интервьюер (опрашивающий). Он же 
                    записывает сказанное. 
                </p>
                <p>
                    При проведении личного опроса крайне важно определить 
                    целевую аудиторию и географию проведения исследования. 
                    Опросы следует проводить в местах скопления потребителей 
                    (потенциальных потребителей) товаров или услуг исследуемого 
                    направления. В ходе проведения личного опроса, респонденту 
                    могут демонстрироваться визуальные материалы. Правилом 
                    хорошего тона при проведении этого метода служат небольшие 
                    подарки опрашиваемым (шоколадки с логотипом, скидочные 
                    купоны, промо-материалы и т.п.), что формирует благоприятное 
                    отношение к Заказчику и служит своеобразной рекламной 
                    кампанией. 
                </p>
                <p>
                    Метод личного опроса подходит для решения широкого круга задач:
                </p>
                <ul>
                    <li>
                        <a href="/projects/emkost-obem-i-dolya-rynka">
                            расчета емкости, объема и доли рынка компании;
                        </a>
                    </li>
                    <li>
                        изучение мнений клиентов, выявление уровня лояльности к 
                        брендам (составление портрета потребителя);
                    </li>
                    <li>
                        описание социально-демографических и других 
                        характеристик покупателей (потенциальных покупателей);
                    </li>
                    <li>исследование процесса принятия решений о покупке;</li>
                    <li>выявление общественного мнения;</li>
                    <li>
                        определение эффективности рекламной кампании и/ или 
                        каналов продвижени.
                    </li>
                </ul>
            </li>
            <li class="cmr_service_method">
                <p>
                    <strong>Телефонный опрос</strong>
                </p>
                <p>
                    Представляет собой личный опрос, который проводится по 
                    телефону.  Этот метод наиболее эффективен для обхвата 
                    широкой аудитории, находящейся в разных городах и странах. 
                    Для опроса по телефону подготавливается специальная база 
                    номеров, респонденты выбираются в случайном порядке. 
                    Достоинством метода является его относительная дешевизна 
                    и быстрота получения данных. 
                </p>
                <p>
                    <a href="/projects/telefonnye-oprosy-v-sankt-peterburge">
                        Телефонный опрос
                    </a>
                    применяется для решения тех за задач, 
                    что и личный опрос.
                </p>
            </li>
            <li class="cmr_service_method">
                <p>
                    <strong>Холл-тест</strong>
                </p>
                <p>
                    <a href="/projects/marketingovoe-issledovanie-holl-test">
                        Метод холл-теста
                    </a>
                    заключается в тестировании достаточно большой группой 
                    людей определенного товара и/или его элементов (упаковка, 
                    голотип, название и др.). После чего респондентами 
                    заполняются ответы на вопросы анкеты, относительно данного 
                    товара. Иногда опрос респондентов проходит в устной форме 
                    с записью ответов на диктофон или видеокамеру. Тестирование 
                    проходит в специально оборудованном помещении (холл). 
                </p>
                <p>Метод применяется для:</p>
                <ul>
                    <li>
                        определения наиболее значимых для потребителей 
                        характеристик товара;
                    </li>
                    <li>
                        тестирования вариантов оформления рекламной кампании, 
                        этикетки, упаковки;
                    </li>
                    <li>сравнения товара с товарами-конкурентами;</li>
                    <li>тестирования рекламных материалов</li>
                </ul>
            </li>
            <li class="cmr_service_method">
                <p>
                    <strong>Аудит товаров (retail audit) </strong>
                </p>
                <p>
                    Метод заключается в определении представленности товаров 
                    в магазинах, 
                    <a href="/projects/zachem-nuzhen-cenovoj-monitoring">
                        ценовой мониторинг
                    </a>,
                    анализ качества выкладки товара. Розничный аудит 
                    целесообразно проводить регулярно. Отчеты по аудиту 
                    товаров дополняются видеозаписами или фотографиями 
                    выкладки продукции. 
                </p>
                <p>Метод аудита товаров  используется при:</p>
                <ul>
                    <li>определении широты представленности ассортимента;</li>
                    <li>определении уровня конкурентности;</li>
                    <li>выявлении свободных ниш и сегментации рынка;</li>
                    <li>прогнозировании объемов продаж;</li>
                    <li>анализе качества дистрибьюции.</li>
                </ul>
            </li>
        </ul>

        <h4>Качественные исследования</h4>
        <p>
            Качественные исследования выявляют глубинные смыслы, отображают 
            информацию, которую невозможно получить с помощью количественных 
            или кабинетных методов. Благодаря качественным исследованиям можно 
            получить подробные сведения о поведении потребителей, отношении к 
            товарам, мотивах принятия решений, выявить экспертное мнение по 
            узкоспециальным вопросам. 
        </p>
        <p>
            <strong>Методы качественных исследований:</strong>
        </p>
        <ul>
            <li class="cmr_service_method">
                <p>
                    <strong>Глубинное интервью (экспертное мнение)</strong>
                </p>
                <p>
                    Метод основан на неформальной беседе с экспертом. Интервью 
                    проводится по заранее разработанному плану — гайду.  
                    Беседа проводится в комфортной для респондента обстановке, 
                    способстствующей открытости и развернутым ответам на 
                    вопросы.  Как правило, глубинное интервью длится не менее 
                    40 минут. В некоторых случаях, возможно использование 
                    метода при телефонном разговоре. Интевью записывается на 
                    диктофон. Аудиофайлы переводятся в текстовый формат. 
                    При необходимости, прилагаются к отчету. 
                </p>
                <p>
                    Метод глубинного интервью применяется для решения 
                    следующих задач:
                </p>
                <ul>
                    <li>
                        <a href="/projects/vyvod-na-rynok-novogo-produkta">
                            вывод нового товара на рынок;
                        </a>
                    </li>
                    <li>определение емкости рынка и динамики развития отраслей;</li>
                    <li>оценка текущей ситуации в отрасли;</li>
                    <li>
                        формирование портрета и исследование предпочтений 
                        потребителей;
                    </li>
                    <li>поиск свободных ниш.</li>
                </ul>
            </li>
            <li class="cmr_service_method">
                <p>
                    <strong>Фокус-группа</strong>
                </p>
                <p>
                    Интервью небольшой группы, обладающей заданными 
                    критериями сходства. Модератор (ведущий)  предлагает 
                    участникам ответить на вопросы устно или заполнить анкету, 
                    после чего происходит подробное обсуждение.
                </p>
                <p>
                    Метод фокус-групп наиболее эффективен в следующих случаях:
                </p>
                <ul>
                    <li>
                        <a href="/projects/testirovanie-reklamy">
                            тестирование рекламных роликов, новой упаковки 
                            товара, элементов стиля компании;
                        </a>
                    </li>
                    <li>
                        выявление отношения к предприятию и производимой 
                        продукции;
                    </li>
                    <li>
                        разработка стратегии позиционирования продукта на рынке;
                    </li>
                    <li>
                        определение имиджа предприятия и получение рекомендаций 
                        по его корректировке.
                    </li>
                </ul>
            </li>
            <li class="cmr_service_method">
                <p>
                    <strong>
                        <a href="/projects/tajnyj-pokupatel-v-sankt-peterburge">
                            Тайный покупатель (mystery shopping)
                        </a>
                    </strong>
                </p>
                <p>
                    Специально обученные и подготовленные сотрудники под видом 
                    обычных покупателей вступают в диалог с продавцами, по 
                    результатам беседы заполняется  отчет о визите.
                </p>                                  
                <p>
                    Метод используется для проверки качества обслуживания 
                    клиентов.
                </p>
                <p>
                    В качественных методах  исследования задействованы 
                    специфические маркетинговые специалисты (модератор, 
                    интервьюер-психолог, тайный покупатель). Их личность 
                    не должна влиять на мнение респондентов и помогать 
                    максимальному раскрытию в ходе беседы. Задача не 
                    из простых.
                </p>
            </li>
            <li class="cmr_service_method">
                <p>
                    <strong>Кабинетные исследования</strong>
                </p>
                <p>
                    Любое исследование начинается с изучения уже существующей 
                    информации. Благодаря опубликованным сведениям, можно 
                    сформулировать гипотезы предстоящего исследования, и 
                    получить данные для дальнейший верификации. Сбор и 
                    анализ вторичной информации представляет собой кабинетное 
                    исследование.
                </p>
                <p>
                    Для изучения ряда вопросов (например, региональная 
                    экспансия конкурентов или определение доли рынка) 
                    кабинетные исследования являются самостоятельным и 
                    исчерпывающим решением. Однако, часто кабинетное 
                    исследование комбинируют с другими методами. В этом 
                    случае кабинетное исследование выступает в качестве 
                    первого этапа маркетинговой работы.
                </p>
                <p>
                    Источниками информации при кабинетном исследовании 
                    могут выступать как бесплатные, общедоступные ресурсы, 
                    так и платные. К первому типу относятся  новости 
                    информагенств, сайты компаний-конкурентов, данные 
                    Госкомстата, внутренняя документация компании и т.п. 
                    При анализе узкоспецализированных отраслей иногда 
                    возникает необходимость покупки информации, не доступной 
                    для широкой публики.
                </p>
                <p>Задачи метода:</p>
                <ul>
                    <li>
                        Внутрениий анализ и изучение потенциала предприятия на 
                        рынке;
                    </li>
                    <li>
                        <a href="/projects/analiz-konkurentov">
                            Анализ конкурентов
                        </a>;
                    </li>
                    <li>Определение емкости и тенденций рынка;</li>
                    <li>Оценка объема целевой аудитории;</li>
                    <li>Определение направления дальнейшего хода исследования.</li>
                </ul>
                <p>
                    Несмотря на кажущуюся легкость метода, качественно собрать 
                    и проанализировать данные способен только профессионал. 
                    Нельзя слепо доверять информации из Интернета. Все 
                    полученные данные необходимо проверять и уточнять с 
                    помощью специальных средств. 
                </p>
            </li>
        </ul>
        <p>
            Специалисты маркетингового агентства SDA знакомы со всеми 
            методиками проводедения исследований. Мы всегда готовы помочь. 
        </p>
        <p>
            <strong>
                Задать вопрос специалисту и заказать маркетинговое 
                исследование можно по телефону +7&nbsp(812)&nbsp209-45-37 
                или отправьте запрос sda@sdamarketing.ru.
            </strong>
        </p>
    </div>
</div>

{% endblock content %}