{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">Главная</a>
             >> 
            <a href="{% url 'services_url' %}">Услуги</a>
             >> 
            Современные маркетинговые исследования
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <div class="mmr_service">
        <h2>
            Современные маркетинговые исследования
        </h2>
        <p>
            Не так давно под маркетинговыми исследованиями понимали, прежде 
            всего, проведение уличных и телефонных опросов. Современные 
            маркетинговые исследования продвинулись далеко вперед. Развитие 
            новых технологий, открытия в области статистических методов, 
            способствуют появлению новых инструментов маркетингового анализа.
        </p>
        <p>
            В маркетинговом агентстве SDA можно заказать все разновидности 
            прогрессивных маркетинговых исследований.
        </p>
        <ol>
            <li>
                <strong>
                    UX-тестирование (юзабилити-тестирование, проверка 
                    эргономичности, тестирование продукта)
                </strong>
            </li>
            <p>
                Проводится для определения удобства взаимодействия 
                пользователя с искусственным объектом (например, сайт, 
                приложение или электронное устройство). Метод основан 
                на привлечении пользователей в качестве тестировщиков 
                продукта. Взаимодействие человека с объектом тестирования 
                записывается на видео для последующего детального анализа. 
                В ходе исследования, пользователям предлагается совершить 
                ряд действий с продуктом, для выполнения которых сайт, 
                приложение или девайс разрабатывались. Например, респонденту 
                предлагается заказать билеты на мероприятие через сайт или 
                добавить фотографию в профиль. В процессе взаимодействия с 
                объектом, респонденты подробно рассказывают о своих действиях 
                и ощущениях. В процессе тестирования выявляются моменты для 
                улучшения, которые передаются разработчикам.  
            </p>
            <li>
                <strong>Foresight-сессия</strong>
            </li>
            <p>
                <a href="#">Форсайт</a>
                можно рассматривать как разновидность мозгового штурма. 
                В переводе с английского термин означает «предвидение». 
                Форсайт-сессия проводится для построения долгосрочных 
                прогнозов на 10-50 лет на основании текущих процессов. Цель 
                форсайта – определение зон стратегического развития компании, 
                появление новых технологий и продуктов, сплочения коллектива 
                для решения будущих вызовов, стоящих перед организацией.
            </p>
            <li>
                <strong>Customer development (развитие клиента)</strong>
            </li>
            <p>
                Метод 
                <a href="#">
                    customer development (custdev)
                </a> 
                основан на том, что ключевым активом компании являются 
                клиенты, а не выпускаемые продукты. Развитие клиентов – 
                популярная практика для start up. В процессе custdev 
                проводится серия критических интервью с потенциальными 
                покупателями. После получения обратной связи, продукт 
                дорабатывается. Далее снова проводятся интервью, доработка 
                продукта, интервью, доработка… И так до создания 
                жизнеспособного продукта, удовлетворяющего ожиданиям 
                потенциальных покупателей.  
            </p>
            <li>
                <strong>Customer Journey  (Путь клиента)</strong>
            </li>
            <p>
                Исследование по методу Customer Journey систематизирует опыт 
                взаимодействия потребителей с продуктом. Результатом проекта 
                является карта взаимодействия покупателей с продуктом, в которой 
                отображаются этапы покупки, возможности и барьеры, возникающие 
                возникающих на каждом из этапов. Полученные данные используются 
                для оптимизации рекламных кампаний и улучшения взаимодействия 
                с клиентами.
            </p>
            <li>
                <strong>Shop Along (Сопровождаемая покупка)</strong>
            </li>
            <p>
                Метод используется для изучения потребительского поведения 
                и процесса принятия решения о покупке. Исследование проводится 
                в месте совершения покупки (например, магазин или торговый 
                центр).  Методика включает в себя элементы глубинного интервью, 
                включенное и невключенное наблюдение.
            </p>
            <li>
                <strong>Conjoint-анализ</strong>
            </li>
            <p>
                <a href="#">Конджойнт</a>
                — анализ используется для изучения эластичности спроса и 
                создания продукта с наиболее востребованными рыночными 
                характеристиками. В процессе личного общения, потенциальному 
                покупателю предлагается сравнить продукты с разными атрибута 
                и объяснить предпочтения.
            </p>
        </ol>
    </div>
</div>

{% endblock content %}