{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">Главная</a>
             >> 
            <a href="{% url 'services_url' %}">Услуги</a>
             >> 
            Аутсорсинг маркетинга
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <div class="mo_service">
        <h2>
            Аутсорсинг маркетинга
        </h2>
        <p>
            Маркетинг – обязательная составляющая современного предприятия. 
            Сложно представить успешную фирму, которая не знает о деятельности 
            ближайших конкурентов, не отслеживает степень удовлетворенности 
            клиентов и не реагирует на изменения рынка.
        </p>
        <p>
            Маркетинг приносит ощутимую прибыль компаниям, однако и затрачивает 
            большие ресурсы. Так, например, средний уровень заработной платы 
            специалиста по маркетингу в Санкт-Петербурге составляет 60&nbsp000 
            рублей в месяц. Следует помнить, что «маркетинг» — емкое понятие. 
            В него входит: аналитика, PR и реклама, SMM, продвижение в 
            Интернете и многое другое. Для каждого направления нужны отдельные 
            знания.
        </p>
        <p>
            Крупные компании создают подразделения маркетинга, для работы в 
            которых привлекают  лучших в своем сегменте специалистов. Малые и 
            средние предприятия редко обладают достаточными ресурсами для 
            поддержания функционирования полноценного отдела маркетинга. Как 
            правило, они приглашают в свою команду «мастера-универсала». В 
            обязанности сотрудника входит полный комплекс маркетинга: SMM, 
            оптимизация сайта и привлечение лидов, research, разработка 
            стратегии развития, ребрендинг, написание продающих текстов, 
            рассылки и многое другое. Очевидно, что один человек не может 
            быть специалистов в столь разных направлениях. Выход для 
            руководителей малых и средних компаний – воспользоваться услугой 
            аутсорсинга маркетинга от компании SDA.
        </p>
        <p>
            <strong>
                Аутсорсинг маркетинга – это полная или частичная передача 
                маркетинговых задач стороннему исполнителю.
            </strong>
        </p>
        <p>
            Внешний отдел маркетинга актуален для компаний, не имеющих 
            постоянного специалиста в штате, или когда круг задач слишком 
            широк для одного сотрудника. Аутсорсинг маркетинга также 
            используется для независимого исследования внутренней и внешней 
            среды организации. 
        </p>
        <p>
            <strong>Что можно передать удаленному маркетологу:</strong>
        </p>
        <ul>
            <li>Анализ рынков, конкурентов и покупателей;</li>
            <li>
                Изучение перспектив вывода на рынок нового продукта, 
                новых направлений развития компании;
            </li>
            <li>
                Организация и проведение рекламных кампаний по стимулированию 
                продаж, анализ эффективности мероприятий;
            </li>
            <li>
                Создание и комплексная поддержка сайта (копирайтинг, 
                контекстная реклама и др.), email-рассылки клиентам;
            </li>
            <li>Внешний и внутренний PR;</li>
            <li>Организация и участие в отраслевых выставках;</li>
            <li>
                <a href="#">
                    Ценовой мониторинг
                </a>;
            </li>
            <li>Изучение качества обслуживания методом «Тайный покупатель»;</li>
            <li>Поиск партнеров по бизнесу;</li>
            <li>Разработка стратегии позиционирования и развития компании.</li>
        </ul>
        <p>
            Набор маркетинговых задач, которые можно отдать на аутсорсинг, 
            индивидуален для каждого предприятия. Например, некоторым 
            компаниям достаточно проводить маркетинговые исследования 2 
            раза в год, чтобы понимать тенденции рынка, отслеживать поведение 
            конкурентов и лояльность клиентов. Другим же требуется постоянный 
            поиск новых поставщиков и покупателей, анализ маркетинговой 
            активности конкурентов, изучение потенциального спроса на новые 
            продукты и разработка концепции их позиционирования на рынке. 
            <a href="#">
                Цены на аутсорсинг маркетинга
            </a>
            зависят от широты оказываемых услуг и методов проводения исследования. 
        </p>
        <div class="row">
            <div class="col">
                <img src="{% static 'img/services/Marketing outsourcing.png' %}" alt="Marketing outsourcing.png">
            </div>
        </div>
        <p>
            <strong>
                Как строится процесс работы по маркетинговому аутсорсингу?
            </strong>
        </p>
        <p>
            Сотрудничество с маркетинговым агентством SDA начинается со 
            встречи с Заказчиком. Ознакомившись со спецификой бизнеса и 
            существующими задачами, мы предложим план работ, оценим их 
            стоимость. После согласования услуг, предающихся на маркетинговый 
            аутсорсинг, за компанией-Заказчиком закрепляется персональный 
            маркетолог. Он отвечает за проведение маркетинговых исследований 
            и мероприятий согласно плану работ. При необходимости, наш 
            специалист может участвовать на рабочих совещаниях на территории 
            Заказчика или выезжать в офис для обсуждения текущих вопросов. 
            Мы ведем документальное сопровождение оказываемых услуг. После 
            завершения сотрудничества, все рабочие материалы (макеты, тексты 
            и др.) передаются Заказчику.
        </p>
        <p>
            <strong>Выгоды аутсорсинга маркетинга от компании SDA:</strong>
        </p>
        <ul>
            <li>
                Внешний отдел маркетинга никогда не болеет и не уходит в отпуск;
            </li>
            <li>
                Услуги аутсорсинга стоят дешевле, что содержание маркетологов 
                в штате;
            </li>
            <li>Не требуется организация рабочего места;</li>
            <li>
                Решение задач по всему комплексу маркетинга (от оптимизации 
                сайта до разработки стратегии развития компании);
            </li>
            <li>
                Сокращение издержек на рекламу. Мы давно сотрудничаем 
                с крупнейшими рекламными и креативными агентствами. Наши 
                клиенту получают дополнительную скидку на производство 
                рекламных материалов;
            </li>
            <li>
                Мы гарантируем конфиденциальность всей полученной информации. 
                После подписания договора, мы не будем сотрудничать с Вашими 
                прямыми конкурентами.
            </li>
        </ul>
        <p>
            <strong>
                Заказать услугу аутсорсинга маркетинга в СПб, а также 
                получить дополнительную информацию можно по телефону 
                +7&nbsp(812)&nbsp209-45-37.
            </strong>
        </p>
    </div>
</div>

{% endblock content %}