{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">Главная</a>
             >> 
            <a href="{% url 'services_url' %}">Услуги</a>
             >> 
            Управленческий и стратегический консалтинг
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <div class="msc_service">
        <h2>
            Управленческий и стратегический консалтинг
        </h2>
        <p>
            Цель управленческого консалтинга – помощь в формировании путей 
            развития компании, исходя из ее текущих возможностей и рыночного 
            окружения.
        </p>
        <p>
            <strong>Зачем нужен:</strong>
            <ul>
                <li>достижение стратегических целей и задач компании;</li>
                <li>
                    решение управленческих задач, в т.ч. по управлению кадрами, 
                    <a href="#">стратегия продаж</a>;</li>
                <li>
                    выявление и использование новых возможностей развития 
                    компании;
                </li>
                <li>проведение обучения сотрудников;</li>
                <li>внедрение и управление изменениями.</li>
            </ul>
        </p>
        <p>
            К управленческому консалтингу можно обращаться как на этапе 
            создания новой компании или нового продукта, так и в целях 
            развития существующего бизнеса.
        </p>
        <div class="row">
            <div class="col">
                <img src="{% static 'img/services/Management and strategic consulting.png' %}" alt="Management and strategic consulting.png">
            </div>
        </div>
        <p>
            <strong>Стратегический консалтинг</strong>
        </p>
        <p>
            Используется в случае необходимости формирования и описания 
            бизнес-модели компании, ее конкурентных возможностей и недостатков. 
            Стратегия – это базовое самоопределение предприятия. Из стратегии 
            следуют цели, условия их достижения и потребность в ресурсах.  
        </p>
        <p>
            <strong>Маркетинговый консалтинг</strong>
        </p>
        <p>
            Используется, чтобы знать о поведении клиентов как можно больше. 
            На основе полученных данных разрабатываются подходы по удержанию и 
            увеличению клиентской базы, оптимизации каналов продажу, управлению 
            рекламным бюджетом и другие тактические решения ведения бизнеса.
        </p>
        <p>
            <strong>Кадровый консалтинг</strong>
        </p>
        <p>
            Используется для развития корпоративной культуры. Включает в себя 
            определение уровня вовлеченности персонала, создании системы 
            мотивации и ценностных ориентиров сотрудников  и др.
        </p>
        <p>
            <strong>В чем заключается работа консультанта?</strong>
        </p>
        <p>
            Распространено мнение о консультантах- супергероях, которые сразу 
            дают подробные инструкции, как строить развитие компании-заказчика, 
            а потом улетают на вертолете спасать другие предприятия. В 
            маркетинговом агентстве SDA придерживаются мнения, что универсальной 
            пилюли не бывает. Работа консультанта состоит в том, чтобы, задавая 
            правильные вопросы и рассказывая об опыте схожих компаний, помочь 
            заказчику самому принять важнейшие решения.
        </p>
        <p>
            Мы выделяем несколько разновидностей сотрудничества в области 
            управленческого учета:
        </p>
        <ul>
            <li>
                Тренерский подход. Консультант является практикующим экспертом 
                на рынке. Менеджмент компании-заказчика формулирует запрос 
                (например, проведение тренинга по продажам), который выполняет 
                консультант.
            </li>
            <li>
                Врачебный подход. В этом случае консультантов приглашают 
                «поставить диагноз» компании или отдельному процессу и 
                «назначить лечение».
            </li>
            <li>
                Процессный подход. В этом случае вместо того, чтобы ставить 
                диагнозы и давать советы, исходя из опыта других компаний, 
                консультант помогает компании составить свой уникальный план 
                развития.
            </li>
        </ul>
        <p>
            <strong>Методы и инструменты</strong>
        </p>
        <p>
            Выбор методов и инструментов во многом зависит от конкретной 
            ситуации и целей, которые ставит ТОП-менеджмент.
        </p>
        <p>
            <strong>Среди наиболее популярных можно выделить:</strong>
        </p>
        <ul>
            <li>
                проведение стратегической сессии по методу мозгового штурма. 
                Коллективная генерация идей по решению проблем развития компании.
            </li>
            <li>
                форсайт-сессия. Используется для моделирования возможных вызовов 
                в будущем и реакции на них;
            </li>
            <li>
                опрос мнений сотрудников. Позволяет оценить вовлеченность 
                персонала, мотивов, ценностей, отношение к изменениям и др.
            </li>
            <li>
                деловые игры. Помогает сплотить рабочую команду, активизировать 
                творческое мышление, обнаружить слабые места в корпоративной 
                культуре.
            </li>
        </ul>
        <p>
            Маркетинговое агентство SDA специализируется на управленческом 
            консалтинге. Мы помогаем создать дорожную карту развития на 5 лет, 
            определить стратегические направления и способы достижения 
            поставленных целей, внедрять изменения в компании. 
        </p>
    </div>
</div>

{% endblock content %}