{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
<link rel="stylesheet" id='msl-main-css' type='text/css' media='all' href="{% static 'slick/slider.css' %}">


<!-- http://kenwheeler.github.io/slick/ -->
<div class="slider">
  <div class="autoplay">
    {% for slide in slider %}
    <div class="slider-content">
        {{ slide.title }}
    </div>
    {% endfor %}
  </div>
</div>


<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>

<script>
// http://kenwheeler.github.io/slick/
$('.autoplay').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 10_000,
  arrows: false,
  speed: 1500,
  pauseOnFocus: false,
  pauseOnHover: true,
});
</script>