{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'feedback/js/feedback.js' %}" type="text/javascript"></script>

<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">Главная</a>
             >> 
            Feedback
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <h2>
        FeedBack
    </h2>
    {% if feedbacks %}
    <div class="feedback">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <p>Имя клиента</p>
                    </th>
                    <th>
                        <p>Контакт</p>
                    </th>
                    <th>
                        <p>Сообщение</p>
                    </th>
                    <th>
                        <p>Ссылка на страницу</p>
                    </th>
                    <th>
                        <p>Дата</p>
                    </th>
                    <th>
                        <p>Просмотрено</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for feedback in feedbacks %}
                <tr>
                    <td>
                        <p>{{ feedback.name }}</p>
                    </td>
                    <td>
                        <p>{{ feedback.contact }}</p>
                    </td>
                    <td>
                        <p>{{ feedback.text }}</p>
                    </td>
                    <td>
                        <p>
                            <a href="" id="feedback_link_{{ feedback.id }}">
                                <script>get_feedback_link('{{ feedback.id }}', '{{ feedback.link }}')</script>
                            </a>
                        </p>
                    </td>
                    <td>
                        <p>{{ feedback.created_at }}</p>
                    </td>
                    <td>
                        <p>
                            <form action="{% url 'feedback_delete_redirect_url' feedback.pk %}" method="post">
                                {% csrf_token %}
                                <button type='submit'>
                                    <img src="{% static 'feedback/img/delete-btn.png' %}" alt="delete-btn.png" height="20px">
                                </button>
                            </form>
                        </p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>Список сообщений пуст..</p>
    {% endif %}
</div>
{% endblock content %}