{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">Главная</a>
             >> 
             О нас
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <div class="about-us">
        <h2>
            О нас
        </h2>
        <p>
            В современных реалиях  успешный бизнес невозможно строить 
            без понимания своей роли и позиций конкурентов. Вместо того, 
            чтобы нанимать новых сотрудников,  выгоднее воспользоваться 
            услугами маркетингового агентства SDA.
        </p>
        <p>
            Наш офис находится в Санкт-Петербурге, но мы не ограничиваемся 
            исследованиями только в Северо-Западном регионе. Маркетинговое 
            агентство SDA  реализует проекты на всей территории Российской 
            Федерации: Москва, Тверь, Томск, Новосибирск, Киров, Петрозаводск, 
            Владикавказ и др. 
        </p>
        <p>
            Мы предлагаем решения в области проведения классических и современных 
            <a href="/projects/zachem-nuzhny-marketingovye-issledovaniya">маркетинговых исследований</a>,
             проведения стратегический сессий и управления маркетингом. 
        </p>
        <p>
            Наши приоритеты — высокое качество оказываемых услуг. Сотрудники 
            компании обладают профессиональным опытом более 13 лет. Наши аналитики 
            были директорами по маркетингу, поэтому в отчетах всегда понятная и 
            подробная информация. 
        </p>
        <p>
            Отличительной чертой маркетингового агентства SDA является гибкость. 
            Мы понимаем, что после подписания договора могут быть изменения и 
            уточнения проекта. И это нормально. 
        </p>
        <p>
            В лице маркетингового агентства SDA вы получите надежного партнера 
            на долгие годы. Мы дорожим доверием наших клиентов и будем рады видеть 
            Вас среди них.
        </p>
        <p>
            Хотите стать частью нашей команды? Загляните в раздел 
            <a href="/vacancies">Вакансии</a>.
        </p>
    </div>
</div>
{% endblock content %}
