{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">Главная</a>
             >> 
            <a href="{% url 'articles_url' %}">Статьи</a>
             >> 
            {{ article.title|lower|capfirst }}
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <div class="article-detail">
        <div class="article-detail-description">
            <h5>
                <strong>Название статьи:</strong> {{ article.title|lower|capfirst }}
            </h5>
            <h6>
                <strong>Тип материала:</strong> {{ article.direction }}
            </h6>
            <h6>
                <strong>Отрасль:</strong> {% for industry in article.industry.all %} {{ industry }}{% if not forloop.last %}, {% endif %} {% endfor %}
            </h6>
        </div>
        <div class="article-detail-content">
            <p>
                {{ article.content|safe }}
            </p>
        </div>
    </div>
</div>
{% endblock content %}