{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">Главная</a>
            >>
            Контакты
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <h2>
        Контакты
    </h2>
    <div class="contacts">
        <div class="map" id="mapexMap">
            <!-- Здесь располагается карта javascript -->
        </div>
        <p>
            <span style="font-size:18px">
                <strong>МАРКЕТОЛОГ</strong>
            </span>
        </p>
        <p>ОБЯЗАННОСТИ:</p>
        <ul>
            <li>Разработка и проведение исследований (количественных, качественных, кабинетных);</li>
            <li>Организация и контроль за проведением &laquo;полей&raquo;.</li>
        </ul>
        <p>ТРЕБОВАНИЯ:</p>
        <ul>
            <li>Высшее образование;</li>
            <li>Опыт работы маркетологом от 3х лет;</li>
            <li>Навыки обработки больших массивов данных, преимуществом является опыт обработки данных в SPSS;</li>
            <li>Хорошие навыки стратегического планирования, способность быстро и точно анализировать рынок;</li>
            <li>Высокий уровень самоорганизации, активная жизненная позиция, желание работать в прогрессивной команде,
                инициативность, стрессоустойчивость.</li>
        </ul>
        <p>
            <span style="font-size:18px">
                <strong>СТАЖИРОВКА ПО НАПРАВЛЕНИЮ МАРКЕТИНГОВЫХ ИССЛЕДОВАНИЙ</strong>
            </span>
        </p>
        <p>ТРЕБОВАНИЯ К СТАЖЕРАМ:</p>
        <ul>
            <li>выполнение тестового задания;</li>
            <li>знания Word и Excel;</li>
            <li>знание ПК и планшетов на уровне пользователя;</li>
            <li>высокая скорость печати и грамотность.</li>
        </ul>
        <p>
            <a class="btn" href="https://disk.yandex.ru/i/HcqFGbxwxy6uAg">Скачать тестовое задание для стажеров</a>
        </p>

        <p>
            <span style="font-size:18px">
                <strong>ТАЙНЫЙ ПОКУПАТЕЛЬ</strong>
            </span>
        </p>

        <p>ОБЯЗАННОСТИ:</p>
        <ul>
            <li>посещение локаций под видом покупателя;</li>
            <li>внимательное наблюдение за качеством обслуживания;</li>
            <li>заполнение анкеты проверки.</li>
        </ul>
        <p>ТРЕБОВАНИЯ:</p>
        <ul>
            <li>наличие диктофона и фотоаппарата (можно на мобильном телефоне);</li>
            <li>желателен опыт работы тайным покупателем;</li>
            <li>доступ к Интернету.</li>
        </ul>
        <p>
            <a class="btn" href="https://docs.google.com/forms/d/18R2mfu6fmTPoTq7ybJyoqsI3Ndwv7Z5EbtjJQKRH_GU/edit">Заполнить анкету тайного покупателя</a>
        </p>
        <p>
            <strong>Резюме присылайте на ivanov@noname.ru</strong>
        </p>
    </div>
</div>

<!-- Scripts for Yandex maps. Additionally uses a function ymaps.ready from the main.js  -->
<script type="text/javascript" src="https://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU"></script>
<script type="text/javascript" src="{% static 'js/yandex_map.js' %}"></script>
{% endblock content %}