{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">Главная</a>
             >> 
            Контакты
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <h2>
        Контакты
    </h2>
    <div class="contacts">
        <div class="map" id="mapexMap">
            <!-- Здесь располагается карта javascript -->
        </div>
        <p>
            <strong>Адрес:</strong> г. Санкт-Петербург, пр. Старо-Петергофский 44
        </p>
        <div class="row">
            <div class="col1">
                <p>
                    <strong>Телефоны:</strong>
                </p>
            </div>
            <div class="col2">
                <p>
                    <a href="tel:+78122094537">+7 (812) 209-45-37</a>
                </p>
                <p>
                    <a href="tel:+79119254537">+7 (911) 925-45-37</a>
                </p>
            </div>
        </div>
        <p>
            <strong>E-mail:</strong>
            <a href="mailto:sda@sdamarketing.ru">sda@sdamarketing.ru </a>
        </p>
    </div>
</div>

<!-- Scripts for Yandex maps. Additionally uses a function ymaps.ready from the main.js  -->
<script type="text/javascript" src="https://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU"></script>
<script type="text/javascript" src="{% static 'js/yandex_map.js' %}"></script>
{% endblock content %}
