{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">{{ content.path_main.value }}</a>
             >> 
             {{ content.contacts_title.value }}
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <h2>
        {{ content.contacts_title.value }}
    </h2>
    <div class="contacts">
        <div class="map" id="mapexMap">
            <!-- Здесь располагается карта javascript -->
        </div>
        {{ content.contacts_content.content|safe }}
    </div>
</div>

<!-- Scripts for Yandex maps. Additionally uses a function ymaps.ready from the main.js  -->
<script type="text/javascript" src="https://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU"></script>
<script type="text/javascript" src="{% static 'js/yandex_map.js' %}"></script>
{% endblock content %}
