{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">Главная</a>
             >> 
            Словарь
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <h2>
        Словарь
    </h2>
    <p>
        <a href="#1">Маркетинговое исследование</a>
         (англ. marketing research) — сбор и 
        анализ информации о рынке (в том числе, объем и динамика рынка, 
        конкурентное окружение, потребители и др.).  
    </p>
    <p>
        Социологическое исследование — сбор и анализ информации о социальных 
        явлениях и процессах.
    </p>
    <p>
        <a href="#2">UX-исследование</a>
         (англ. usability experience) — изучение отношения 
        (восприятия) потребителей (потенциальных потребителей).
    </p>
    <p>
        Качественные исследования — общее название методов маркетинговых и 
        социологических исследований, которые предполагают получение 
        подробной (качественной) информации от респондентов. К таким методам 
        относятся фокус-группы и глубинные интервью.
    </p>
    <p>
        Количественные исследования — общее название методов маркетинговых 
        и социологических исследований, которые используются для получения 
        статистических (количественных) данных. К таким методам относятся 
        опросы.
    </p>
    <p>
        Респондент — участники качественного исследования.
    </p>
    <p>
        <a href="#3">Фокус-группа</a>
         — обсуждение гомогенной группой (как правило, 8 
        респондентов) вопросов гайда.
    </p>
    <p>
        <a href="#4">Холл-тест</a>
         — метод качественно-количественного исследования, 
        который предполагает тестирование продукции (материалов, 
        услуг) в процессе опроса.
    </p>
    <p>
        Гайд — список вопросов экспертных интервью и фокус-групп, 
        не предполагает строго следования порядку вопросов.
    </p>
    <p>
        Анкета — список вопросов для уличных и телефонных опросов, 
        обязательно следование порядку вопросов.
    </p>
    <p>
        <a href="#5">Портрет покупателя (потребителя)</a>
         — детальное и подробное 
        описание текущих и потенциальных покупателей.
    </p>
    <p>
        <a href="#6">Модератор</a> — ведущий фокус-группы.
    </p>
    <p>
        <a href="#7">Глубинное интервью</a>
         — метод качественного исследования, 
        который проводится для получения более подробной информации.
    </p>
    <p>
        <a href="#8">Рекрутинг</a>
         — подбор участников исследований, соответствующих 
        портрету покупателя.
    </p>
    <p>
        Емкость рынка – максимально возможный объем потребления. 
        Показатель представляет собой потенциальный объем рынка, его 
        высший предел. Емкость рынка – теоретическое значение. Оно 
        рассчитывается при условии, что все потенциальные потребители 
        знают изучаемый товар и приобретают его.
    </p>
    <p>
        Объем (размер) рынка – текущий уровень спроса на товар или 
        услугу. Сравнение емкости и объема показывает возможности 
        развития рынка.
    </p>
    <p>
        Доля рынка — уровень спроса, который приходится на продукцию 
        изучаемой компании. Регулярное измерение доли рынка показывает 
        динамику рыночной позиции компании, эффективность маркетинговых 
        мероприятий.
    </p>
    <p>
        <a href="#9">Ценовой мониторинг</a>
         – метод маркетинговых исследований, 
        позволяющий узнать актуальную стоимость товаров и услуг.
    </p>
    <p>
        <a href="#10">Тайный покупатель</a>
         — метод проверка качества обслуживания, работы 
        менеджеров компании и партнеров.
    </p>
</div>
{% endblock content %}
