{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="container">
    <div class="welcome-page">
        <p>
            <strong>Приветствуем Вас на сайте Маркетингового агентства SDA!</strong>
        </p>
        <p>
            Мы предлагаем маркетинговое сопровождение для развития бизнеса.
        </p>
        <p>
            Агентство SDA проводит все виды маркетинговых, социологических и политических исследований, оказывает услуги по разработке бизнес-планов и финансовых моделей, стратегическому консалтингу, аутсорсингу маркетинга.
        </p>
        <p>
            Компания была образована в 2015 году. С момента образования мы провели более 100 проектов в интересах российских и международных компаний. За годы работы мы создали собственные методики оценки рынков.
        </p>
        <p>
            <strong>Более 80%</strong> наших клиентов становятся постоянными партнерами.
        </p>
        <p>
            Чтобы заказать маркетинговое исследование или бизнес-план не обязательно знать профессиональные термины и заполнять брифы.&nbsp; Достаточно направить запрос на электронную почту sda@sdamarketing.ru, сотрудники SDA подберут оптимальную методику и составят план проекта.
        </p>
        <div class="express-exploer-object">
            <div class="row">
                <div class="col" style="min-width: 300px;">
                    <p>
                        Для случаев, когда информация «нужна еще вчера», мы предлагаем экспресс-исследование рынка.
                    </p>
                </div>
                <div class="col" style="min-width: 300px;">
                    <div class="express-exploer-button">
                        <a class="btn">
                            Экспресс-исследование рынка
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="homepage-products">
            <div class="row justify-content-between row-cols-1 row-cols-md-4">
                <div class="col">
                    <div class="card h-100">
                        <a href="{% url 'service_cmr_url' %}">
                            <img src="{% static 'img/apple.jpg' %}" class="card-img-top" alt="homepage-apple.jpg">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'service_cmr_url' %}" class="card-link-one">
                                    Классические маркетинговые исследования
                                </a>
                            </h5>
                            <p class="card-text">
                                Фокус-группы, кабинетные исследования, опросы, тайный покупатель
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <a href="{% url 'service_mmr_url' %}">
                            <img src="{% static 'img/services/mouthpiece.jpg' %}" class="card-img-top" alt="homepage-mouthpiece.jpg">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'service_mmr_url' %}" class="card-link-two">
                                    Современные маркетинговые исследования
                                </a>
                            </h5>
                            <p class="card-text">
                                Customer development, conjoint-анализ, foresight-сессии, UX-тестирование, клиентские исследования
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <a href="{% url 'service_bp_url' %}">
                            <img src="{% static 'img/services/microscope.jpg' %}" class="card-img-top" alt="homepage-apple.jpg">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'service_bp_url' %}" class="card-link-three">
                                    Разработка бизнес-планов и финансовых моделей для кредитования
                                </a>
                            </h5>
                            <p class="card-text">
                                Помощь в создании инвестиционных проектов и получении финансирования в банках и государственных структурах
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <a href="{% url 'service_msc_url' %}">
                            <img src="{% static 'img/services/score.jpg' %}" class="card-img-top" alt="homepage-apple.jpg">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'service_msc_url' %}" class="card-link-four">
                                    Управленческий и стратегический консалтинг для развития компании
                                </a>
                            </h5>
                            <p class="card-text">
                                Разработка стратегии компании, проведение семинаров и воркшопов, оценка лояльности сотрудников
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}