{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="container">
    {% if slider %}
    {% include carousel_path %}
    {% endif %}
    <div class="welcome-page">
        {{ content.homepage_content.content|safe }}
        <div class="express-exploer-object">
            <div class="row">
                <div class="col" style="min-width: 300px;">
                    {{ content.homepage_left_text.content|safe }}
                </div>
                <div class="col" style="min-width: 300px;">
                    <div class="express-exploer-button">
                        <a class="btn" href="/projects/ekspress-issledovanie-rynka">
                            {{ content.homepage_btn_text.value }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="homepage-products">
            <div class="row justify-content-between row-cols-1 row-cols-md-4">
                <div class="col">
                    <div class="card h-100">
                        <a href="{% url 'service_cmr_url' %}">
                            <img src="{% static 'img/apple.jpg' %}" class="card-img-top" alt="homepage-apple.jpg">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'service_cmr_url' %}" class="card-link-one">
                                    {{ content.homepage_col1_title.value }}
                                </a>
                            </h5>
                            <p class="card-text">
                                {{ content.homepage_col1_content.value }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <a href="{% url 'service_mmr_url' %}">
                            <img src="{% static 'img/services/mouthpiece.jpg' %}" class="card-img-top" alt="homepage-mouthpiece.jpg">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'service_mmr_url' %}" class="card-link-two">
                                    {{ content.homepage_col2_title.value }}
                                </a>
                            </h5>
                            <p class="card-text">
                                {{ content.homepage_col2_content.value }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <a href="{% url 'service_bp_url' %}">
                            <img src="{% static 'img/services/microscope.jpg' %}" class="card-img-top" alt="homepage-apple.jpg">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'service_bp_url' %}" class="card-link-three">
                                    {{ content.homepage_col3_title.value }}
                                </a>
                            </h5>
                            <p class="card-text">
                                {{ content.homepage_col3_content.value }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <a href="{% url 'service_msc_url' %}">
                            <img src="{% static 'img/services/score.jpg' %}" class="card-img-top" alt="homepage-apple.jpg">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'service_msc_url' %}" class="card-link-four">
                                    {{ content.homepage_col4_title.value }}
                                </a>
                            </h5>
                            <p class="card-text">
                                {{ content.homepage_col4_content.value }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}