{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">Главная</a>
             >> 
             Цены
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <h2>
        Цены
    </h2>
    <div class="prices">
        <p>
            Цена маркетингового исследования зависит от многих факторов: методов 
            получения данных, доступности источников информации, объема выборки, 
            сложности и размера анкеты и др.
        </p>
        <p>
            Ниже приведены базовые цены и сроки выполнения работ специалистами 
            маркетингового агентства SDA. 
        </p>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col-6">
                        <p>Метод</p>
                    </th>
                    <th scope="col">
                        <p>Стоимость</p>
                    </th>
                    <th scope="col">
                        <p>Срок</p>
                    </th>
                </tr>
            </thead>
            <tbody>

                {% for title, costs in costgroups.services.items %}

                <tr class="group-method">
                    <td colspan="3">
                        <div class="group-title">
                            {{ title|safe }}
                        </div>
                    </td>
                </tr>
                
                    {% for cost in costs %}
                    <tr class="single-method">
                        <td>
                            <div class="cost-title">
                                {{ cost.title|safe|capfirst }}
                            </div>
                        </td>
                        <td>
                            <p>{{ cost.cost|safe }}</p>
                        </td>
                        <td>
                            <p>{{ cost.term|safe }}</p>
                        </td>
                    </tr>
                    {% endfor %}


                {% endfor %}

                <!-- Другие услуги -->
                <tr class="group-method">
                    <td colspan="3">
                        <div class="group-title">
                            {{ costgroups.another_services.title|safe }}
                        </div>
                    </td>
                </tr>
                
                {% for cost in costgroups.another_services.costs %}
                <tr class="single-method">
                    <td>
                        <div class="cost-title">
                            {{ cost.title|safe|capfirst }}
                        </div>
                    </td>
                    <td>
                        <p>{{ cost.cost|safe }}</p>
                    </td>
                    <td>
                        <p>{{ cost.term|safe }}</p>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <p>
            Уточняйте стоимость в маркетинговом агентстве SDA по телефону 
            <span class="phone-number">+7&nbsp;(812)&nbsp;111-11-11</span> 
            или через запрос на электронную почту sda@noname.ru
        </p>
    </div>
</div>
{% endblock content %}
