{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">{{ content.path_main.value }}</a>
             >> 
             {{ content.prices_title.value }}
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <h2>
        {{ content.prices_title.value }}
    </h2>
    <div class="prices">
        {{ content.prices_content.content|safe }}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col-6">
                        <p>Метод</p>
                    </th>
                    <th scope="col">
                        <p>Стоимость</p>
                    </th>
                    <th scope="col">
                        <p>Срок</p>
                    </th>
                </tr>
            </thead>
            <tbody>

                {% for title, costs in costgroups.services.items %}

                <tr class="group-method">
                    <td colspan="3">
                        <div class="group-title">
                            {{ title|safe }}
                        </div>
                    </td>
                </tr>
                
                    {% for cost in costs %}
                    <tr class="single-method">
                        <td>
                            <div class="cost-title">
                                {{ cost.title|safe|capfirst }}
                            </div>
                        </td>
                        <td>
                            <p>{{ cost.cost|safe }}</p>
                        </td>
                        <td>
                            <p>{{ cost.term|safe }}</p>
                        </td>
                    </tr>
                    {% endfor %}


                {% endfor %}

                <!-- Другие услуги -->
                <tr class="group-method">
                    <td colspan="3">
                        <div class="group-title">
                            {{ costgroups.another_services.title|safe }}
                        </div>
                    </td>
                </tr>
                
                {% for cost in costgroups.another_services.costs %}
                <tr class="single-method">
                    <td>
                        <div class="cost-title">
                            {{ cost.title|safe|capfirst }}
                        </div>
                    </td>
                    <td>
                        <p>{{ cost.cost|safe }}</p>
                    </td>
                    <td>
                        <p>{{ cost.term|safe }}</p>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        {{ content.prices_footer.content|safe }}
    </div>
</div>
{% endblock content %}
