{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">Главная</a>
            >>
            Проекты
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <h2>
        Проекты
    </h2>
    <div class="projects">
        <div class="introduction">
            <div class="row">
                <div class="col-8">
                    <p>
                        С 2015 года маркетинговое агентство SDA выполнило более
                        120 проектов в разных отраслях: приборостроение и
                        электроника, пищевая промышленность, строительство,
                        туристская отрасль, HoReCa, недвижимость, системная
                        интеграция, IT, реклама и дизайн и многие другие. Чтобы
                        заказать исследование, направьте запрос sda@noname.ru
                        или позвоните <span class="phone-number">+7 (812) 111-11-11</span>.
                    </p>
                </div>
                <div class="col-4">
                    <div class="project-list-btn">
                        <a href="media/Маркетинговое-агентство-SDA_Reference.pdf" class="btn">
                            Скачать список выполненных проектов маркетингового
                            агентства SDA
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-8">

                    <!-- content -->
                    <div class="projects-content" id="projects_content"></div>

                </div>

                <!-- filters -->
                <div class="col-4 filter">
                    <div class="accordion" id="accordionPanelsStayOpenExample">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                    <h3>Типы материала</h3>
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    {% for direction in directions %}
                                    <div class="direction_checkbox">
                                        <label for="direction_id_{{direction.id}}" class="checkbox-other">
                                            <input type="checkbox" name="" id="direction_id_{{direction.id}}"
                                                onclick="swith_query_param('direction', '{{ direction.id }}')">
                                            <span>{{ direction.title }}</span>
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                    <h3>Отрасли</h3>
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    <div class="accordion-instries">
                                        <div class="industry_checkbox">
                                            <label for="all_industies_id" class="checkbox-other">
                                                <input type="checkbox" name="" id="all_industies_id"
                                                    onclick="clear_industries_param()">
                                                <span>Все отрасли</span>
                                            </label>
                                        </div>
                                        {% for industry in industries %}
                                        {% if industry.title != 'Все отрасли' %}
                                        <div class="industry_checkbox">
                                            <label for="industry_id_{{industry.id}}" class="checkbox-other">
                                                <input type="checkbox" name="" id="industry_id_{{industry.id}}"
                                                    onclick="swith_query_param('industry', '{{ industry.id }}')">
                                                <span>{{ industry.title|capfirst }}</span>
                                            </label>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script>
    const projects_api_url = "{% url 'project_list_api_url' %}" // url for fetch request (without query parameters)
</script>

<script src="{% static 'js/projects.js' %}"></script>
{% endblock content %}