{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">Главная</a>
             >> 
             Поиск по слову "{{ search }}"
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <h2>
        Поиск
    </h2>
    <div class="search">
        <div class="articles-content">
            {% if search_list %}
                {% for obj in search_list %}
                <div class="search-page">
                    <a href='{{ obj.url }}'>
                        {{ obj.title }}
                    </a>
                </div>
                {% endfor %}
            {% else %}
                <p>К сожалению, по запросу "{{ search }}" ничего не найдено...</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}