{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">{{ content.path_main.value }}</a>
             >> 
             {{ content.search_by_word.value }}
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <h2>
        {{ content.search_title.value }}
    </h2>
    <div class="search">
        <div class="articles-content">
            {% if search_list %}
                {% for obj in search_list %}
                <div class="search-page">
                    <a href='{{ obj.url }}'>
                        {{ obj.title }}
                    </a>
                </div>
                {% endfor %}
            {% else %}
                <p>{{ content.search_nothing.value }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}