{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="guide">
    <div class="container">
        <p>
            <a href="{% url 'homepage_url' %}">{{ content.path_main.value }}</a>
             >> 
            {{ content.vacancies_title.value }}
        </p>
    </div>
    <hr>
</div>
<div class="container">
    <h2>
        {{ content.vacancies_title.value }}
    </h2>
    
    <div class="vacancies">

        {% for vacancy in vacancies %}
        {% if vacancy.active %}
        <div class="vacancy">
            <p class="title">
                <strong>{{ vacancy.title|upper }}</strong>
            </p>
            <div class="vacancy-description">
                {{ vacancy.description|safe }}
            </div>
        </div>
        {% endif %}
        {% endfor %}

        {{ content.vacancies_footer.content|safe }}
    </div>

</div>
{% endblock content %}
