{% load static %}

<div class="feedback-container">

    <div class="feedback-switch" id="feedback-switch">
        <input type="checkbox" id="feedback-input" class="feedback-input" onclick="switch_feedback()">
        <label for="feedback-input">
            <img src="{% static 'img/feedback.png' %}" alt="feedback.png" height="80px">
        </label>
    </div>

    <div class="feedback-form" id="feedback-form">
        <form action="{% url 'feedback_redirect_url' %}" method="post">
            {% csrf_token %}
            
            <div class="feeback-field">
                <label for="feedback-form-name" class="">Имя</label>
                <input type="text" name="name" id="feedback-form-name" class="form-control" required placeholder="Ваше имя">
            </div>
            
            <div class="feeback-field">
                <label for="feedback-form-contact" class="">Контакт</label>
                <input type="text" name="contact" id="feedback-form-contact" class="form-control" required placeholder="Телефон или email">
            </div>

            <div class="feeback-field">
                <label for="feedback-form-text" class="">Сообщение</label>
                <textarea name="text" id="feedback-form-text" cols="15" rows="4" class="form-control" style="resize: none" required placeholder="..."></textarea>
            </div>
            
            <div class="feeback-field">
                <input type="text" name="link" id="feedback-form-link" hidden value="{{ request.path }}">
            </div>

            <div class="send" style="text-align: center;">
                <button type="submit" style="margin-top: 15px; border-width: 1px; border-radius: 3px;">Отправить</button>
            </div>
        </form>
    </div>

    <div class="feedback-close" id="feedback-close">
        <input type="checkbox" id="feedback-close-input" onclick="switch_feedback()">
        <label for="feedback-close-input">
            <img src="{% static 'img/cross.png' %}" alt="cross.png" width="20px">
        </label>
    </div>

</div>

<script src="{% static 'js/feedback.js' %}"></script>