{% load static %}

<div class="feedback-container">

    <!-- switcher -->
    <div class="feedback-switch" id="feedback-switch">
        <input type="checkbox" id="feedback-input" class="feedback-input" onclick="switch_feedback()">
        <label for="feedback-input">
            <div class="feedback-middle-btn">
                <div class="message-icon"></div>
                <span class="feedback-title">{{ content.feadback_button_title.value }}</span>
            </div>
        </label>
    </div>

    <!-- form -->
    <div class="feedback-form" id="feedback-form">
        <div class="feedback-header">
            <div class="feedback-header-icon"></div>
            <div class="feedback-title">{{ content.feadback_title.value }}</div>
        </div>
        <div class="feedback-description">
            {{ content.feadback_content.value }}
        </div>

        <form id="fb_form">
            {% csrf_token %}
            
            <label class="feedback-field" for="feedback-form-name" class="">
                <span class="material-symbols-outlined">person</span>
                <input type="text" name="name" id="feedback-form-name" required placeholder="Ваше имя">
            </label>

            <label class="feedback-field" for="feedback-form-contact" class="">
                <span class="material-symbols-outlined">manage_search</span>
                <input type="text" name="contact" id="feedback-form-contact" required placeholder="Телефон или email">
            </label>
            
            <label class="feedback-field" for="feedback-form-text" class="">
                <textarea name="text" id="feedback-form-text" required placeholder="Cообщение..."></textarea>
            </label>

            <div class="feedback-field">
                <input type="text" name="link" id="feedback-form-link" hidden value="{{ request.get_full_path }}">
            </div>

            <div class="feedback-send">
                <button type="button" onclick="send_mail()">Отправить</button>
            </div>
        </form>
    </div>

    <!-- cross -->
    <div class="feedback-close" id="feedback-close">
        <input type="checkbox" id="feedback-close-input" onclick="switch_feedback()">
        <label for="feedback-close-input">
            <img src="{% static 'feedback/img/cross.png' %}" alt="cross.png" width="20px">
        </label>
    </div>

</div>

<script>
    let send_feedback_url = "{% url 'send_feedback_api' %}"
</script>

<script src="{% static 'feedback/js/feedback.js' %}"></script>