{% load static %}
{% load extra_tags %}

<div class="logo-whatsapp">
    <a class="non-click" href="https://wa.me/79119254537">
        <img src="{% static 'img/logo-whatsapp.png' %}" alt="logo-whatsapp.png">
    </a>
</div>

<div class="footer">
    <div class="btn-slider" href="#page" title="Вернуться наверх" id="back_to_top">
        <img src="{% static 'img/arrow-top.png' %}" alt="arrow-top.png">
    </div>
    <div class="footer-info">
        <p>{{ content.footer.value }}</p>
    </div>
</div>
