{% load static %}

<div class="header">
    <div class="container">
        <div class="row">
            <div class="col1">
                <a href="{% url 'homepage_url' %}">
                    <div>
                        <p class="title">{{ content.header_logo.value }}</p>
                        <p class="sda-logo">SDA</p>
                    </div>  
                </a>
            </div>
            <div class="col2 d-none d-sm-block">
                <div class="phone-numbers">
                    <a class="non-click" href="tel:{{ content.header_phone_1.value }}">{{ content.header_phone_1.content|safe }}</a>
                    <a class="non-click" href="tel:{{ content.header_phone_2.value }}">{{ content.header_phone_2.content|safe }}</a>
                    <a class="non-click" href="mailto:{{ content.header_mail.value }}">{{ content.header_mail.value }}</a>
                </div>
            </div>

            <div class="col ms-auto">
                <div class="search-menu">
                    <form action="{% url 'project_search_url' %}" method="get">
                        {% csrf_token %}
                        <label class="search-input-form" for="search-input">
                            <input  type="text" name="search" id="search-input" placeholder="Найти...">
                            <button type="submit">
                                <span class="material-symbols-outlined">search</span>
                            </button>
                        </label>
                    </form>
                </div>
                
                <nav class="nav-menu">
                    <input type="checkbox" name="toggle" id="menu" class="toggleMenu">
                    <label for="menu" class="toggleMenu">
                        <div class="menu-button" onclick="transform_menu(this)">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                        </div>
                    </label>
                    <ul class="horizontal-menu">
                        <li><a href="{% url 'about_us_url' %}">{{ content.header_about_us.value }}</a></li><hr>
                        <li><a href="{% url 'services_url' %}">{{ content.header_services.value }}</a></li><hr>
                        <li><a href="{% url 'prices_url' %}">{{ content.header_prices.value }}</a></li><hr>
                        <li><a href="{% url 'projects_url' %}">{{ content.header_projects.value }}</a></li><hr>
                        <li><a href="{% url 'vacancies_url' %}">{{ content.header_vacancies.value }}</a></li><hr>
                        <li><a href="{% url 'contacts_url' %}">{{ content.header_contacts.value }}</a></li><hr>
                        <li><a href="{% url 'dictionary_url' %}">{{ content.header_dictionary.value }}</a></li><hr>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- change bars button to cross button -->
<script>
    function transform_menu(x) {
        x.classList.toggle("change");
    }
</script>